<form method="POST" action="<%= `${action}` %>" class="btn-wrapper">
    <input type="hidden" name="productId" value="<%= productId %>"/>
    <button class="btn danger" type="submit">Delete</button>
</form>