<form method="POST" action="<%= `${actions.deleteFromCart}` %>" class="btn-wrapper">
    <input type="hidden" name="productId" value="<%= product.id %>"/>
    <button class="btn" type="submit">Delete</button>
</form>