<div id="notifications-container">
    <div class="alert alert-info">
        <button class="alert-close">&times;</button>
        <h4 class="alert-title">Notification</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reiciendis ut necessitatibus saepe consectetur, repudiandae alias non eos maxime soluta dolorum.
        </p>
    </div>
    <div class="alert alert-info">
        <button class="alert-close">&times;</button>
        <h4 class="alert-title">Notification</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reiciendis ut necessitatibus saepe consectetur, repudiandae alias non eos maxime soluta dolorum.
        </p>
    </div>
    <div class="alert alert-info">
        <button class="alert-close">&times;</button>
        <h4 class="alert-title">Notification</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reiciendis ut necessitatibus saepe consectetur, repudiandae alias non eos maxime soluta dolorum.
        </p>
    </div>
</div>